@model WebApp.Models.Despacho.DespachoTela

@using (Html.BeginForm("Despachar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div class="box-body">
    <h3>Dados do Processo</h3>
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th class="col-md-3">Número do Processo</th>
            <td>@Model.processo.numero - @Model.processo.id</td>
            @Html.HiddenFor(x => x.processo.id, new { @id = "idProcesso"})
        </tr>
        @if (Model.processo.atividade != null)
            {
            <tr>
                <th>Plano de Classificação</th>
                <td>@Model.processo.atividade.descricao</td>
            </tr>
        }
        <tr>
            <th>Resumo</th>
            <td>@Model.processo.resumo</td>
        </tr>
    </table>
    <hr />
    <div class="form-group">
        <label for="Resumo">Texto</label>        
        <textarea class="form-control" id="textoDespacho" name="textoDespacho" placeholder="Informe a descrição do despacho." 
        title="Informe a descrição do despacho." required aria-required="true" aria-invalid="true"></textarea>
    </div>
    <hr />


    <div class="form-group">
        <label>Órgão Destino</label>
        @Html.DropDownListFor(m => m.orgaosDestino,
        new SelectList(Model.orgaosDestino, "guid", "sigla"),
        "Selecione um Órgão",
        new { @class = "form-control", @onchange = "javascript:carregaUnidades(this.value);", @id = "orgaoDestino" })
    </div>
    <div class="form-group">
        <label>Unidade Destino</label>
        <select id="unidadeDestino" name="unidadeDestino" class="form-control"></select>
    </div>

    <hr />
    
        <div class="form-group">
            <label>Incluir Anexos</label>
            <div class="form-group input-file-group">
                <input type="file" class="form-control input-file" id="anexos" style="display:none" name="anexos" multiple />
                <button type="button" class="btn btn-info btn-input-file"><i class="fa fa-link" aria-hidden="true"></i> Adicionar</button>
            </div>
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tabelaAnexos" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc col-md-3" data-header="">Documento</th>
                                    <th class="sorting" data-header="">Tipo</th>
                                    <th class="sorting" data-header="">Tamanho</th>
                                    <th class="sorting" data-header="">Descrição</th>
                                    <th class="sorting_asc col-md-1">Excluir</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-danger" type="submit">Enviar Despacho</button>
        </div>    
</div>
}