@model WebApp.Autorizacao.UsuarioLogado

<ul class="nav navbar-nav">
    <!-- User Account Menu -->
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        @if (Model.Autenticado)
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">@Model.Nome</span>
            </a>

            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    @*<img src="img/avatar5.png" class="img-circle" alt="User Image">*@
                    <img src="~/img/usergeneric.png" class="img-circle" alt="User Image"/>                    
                    <p>
                        @Model.Nome - @Model.SiglaOrganizacao
                        <small>@Model.Email</small>
                    </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    @*<div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    </div>*@
                    <div class="pull-right">
                        @Html.ActionLink("Sair", "Signout", "Home", new { @class = "btn btn-default btn-flat" })
                    </div>
                </li>
            </ul>
        }
    </li>
    <!-- Control Sidebar Toggle Button -->
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
</ul>