@model WebApp.Models.ProcessoEletronico.ProcessoEletronicoModel

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th class="col-md-3">Número do Processo</th>
        <td>@Model.numero</td>
    </tr>
    @if (Model.atividade != null)
    {
        <tr>
            <th>Plano de Classificação</th>
            <td>@Model.atividade.descricao</td>
        </tr>
    }
    <tr>
        <th>Resumo</th>
        <td>@Model.resumo</td>
    </tr>
    <tr>
        <th>Autuação</th>
        <td>@Model.dataAutuacao</td>
    </tr>
    <tr>
        <th>Último Tramite</th>
        <td>@Model.dataUltimoTramite</td>
    </tr>
    <tr>
        <th>Nome do Autuador</th>
        <td>@Model.nomeUsuarioAutuador</td>
    </tr>
    <tr>
        <th>Órgão</th>
        <td>@Model.nomeOrganizacaoAutuadora</td>
    </tr>
    <tr>
        <th>Unidade</th>
        <td>@Model.nomeUnidadeAutuadora</td>
    </tr>
    @if (Model.sinalizacoes != null && Model.sinalizacoes.Count > 0)
    {
        <tr>
            <th>Sinalizações</th>
            <td>
                <ul>
                    @foreach (var sn in Model.sinalizacoes)
                    {
                        <li>@sn.descricao;</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

@if (Model.municipiosProcesso != null && Model.municipiosProcesso.Count > 0)
{
    <h3>Abrangência</h3>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>UF</th>
                <th>Município</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mc in Model.municipiosProcesso)
            {
                <tr>
                    <td>@mc.uf</td>
                    <td>@mc.nome</td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Interessados</h3>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Nome/Razão Social</th>
            <th>CPF/CNPJ</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.interessadosPessoaFisica != null && Model.interessadosPessoaFisica.Count > 0)
            {
                foreach (var pf in Model.interessadosPessoaFisica)
                {
                <tr>
                    <td>@pf.nome</td>
                    <td>@pf.cpf</td>
                </tr>
            }
        }
        @if (Model.interessadosPessoaJuridica != null && Model.interessadosPessoaJuridica.Count > 0)

        {
            foreach (var pj in Model.interessadosPessoaJuridica)
            {
                <tr>
                    <td>@pj.sigla - @pj.razaoSocial</td>
                    <td>@pj.cnpj</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.despachos != null && Model.despachos.Count > 0)
{
    <h3>Despachos</h3>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Destino</th>
                <th>Texto do Despacho</th>
                <th>Usuário</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var des in Model.despachos)
            {
                <tr>
                    <td>@des.siglaOrganizacaoDestino - @des.siglaUnidadeDestino</td>
                    <td>@des.texto</td>
                    <td>@des.nomeUsuarioDespachante</td>
                    <td>@des.dataHoraDespacho.AsDateTime().ToString("dd/MM/yyyy HH:MM")</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.anexos != null && Model.anexos.Count > 0)
{
    <h3>Anexos</h3>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Descrição</th>
                <th class="col-md-2 text-center">Baixar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anexo in Model.anexos)
            {
                <tr>
                    <td>@anexo.nome</td>
                    <td>@anexo.descricao</td>
                    <td class="text-center">
                        <a href="@Url.Action("Download", "Home", new { id = anexo.id })" class="btn btn-warning btn-xs">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}